<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://maps.googleapis.com/maps/api/js"></script>
        <style>
            html,
            body,
            #map_canvas {
                height: 300px;
                width: 500px;
                margin: 0px;
                padding: 0px
            }
        </style>
    <title>Add Address</title>
</head>
{% block content %}
<body>
    <h1 class="text-center mt-5 mb-5">
      Welcome to Customer AddAddress
    </h1>
     <h4>hi, {{ user.username }}</h4>

         <div class="row">
             <div class="col-md-4 offset-md-4">

             </div>
         </div>
    <div class="row">
      <form method="post" action="{% url 'addAddress' %}" class="col-md-5 offset-md-1">
      {% csrf_token %}
        <div class="form-group">
          <input name="address" class="form-control" placeholder="address">
        </div>
        <div class="form-group">
          <input name="city" class="form-control" placeholder="city">
        </div>
        <div class="form-group">
          <input name="pincode" class="form-control" placeholder="pincode">
        </div>
          <div id="map_canvas" style="width:750px; height:450px; border: 2px solid #3872ac;"></div>
         <div id="coordinates"></div>

          <input type="hidden" name="latiLong" id="latiLong" />

        <button type="submit" class="btn btn-accent form-btn w-100 mt-3 mb-3">Add Address</button>

      </form>
    </div>
         {% if messages %}
             <ul class="messages">
                 {% for message in messages %}
                     <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                 {% endfor %}
             </ul>
         {% endif %}
 <SCRIPT>
             function initialize() {
                 var crosshairShape = {
                     coords: [0, 0, 0, 0],
                     type: 'rect'
                 };
                 var latlng = new google.maps.LatLng(22.62279178711505, 73.895538330078125);
                 var myOptions = {
                     zoom: 12,
                     center: latlng,
                     {#mapTypeId: google.maps.MapTypeId.SATELLITE,#}
                     mapTypeControlOptions: {
                         style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
                     }
                 };
                 var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
                 var marker = new google.maps.Marker({
                     map: map,
                 });
                 document.getElementById('coordinates').innerHTML = "<b>center coordinates</b>: " + map.getCenter().toUrlValue(6)
                 google.maps.event.addListener(map, 'center_changed', function () {
                     document.getElementById('coordinates').innerHTML = "<b>center coordinates</b>: " + map.getCenter().toUrlValue(6);
                     document.getElementById('latiLong').value = map.getCenter().toUrlValue(6);
                 });
                 marker.bindTo('position', map, 'center');
             }

             google.maps.event.addDomListener(window, 'load', initialize);
 </script>
</body>
</html>
{% endblock %}