{% load static %}
{% block content %}

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>


<div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <table class="show-cart table">

        </table>
        <br>
        <h4>Total price : Rs.<span class="total-cart"></span></h4>
      </div>
        <form method="post" action="{% url 'confirm' %}" class="col-md-5 offset-md-1">
            {% csrf_token %}
            <input type="name" name="name" id="name" required class="form-control mb-4" placeholder="Name">
            <input type="hidden" name="product_list" id="product_list" />
            <input type="hidden" name="total" id="total" />
                     <div id="ol"></div>
                     <div id="tt"></div>
            <select name="order_type" id="order_type" onchange="changeOrderType();">
                <option value="HOME_DELIVERY" selected>HOME DELIVERY</option>
                <option value="PICK_UP">SELF PICK UP</option>
            </select>

            <input type="datetime-local" id="pick_up_time" name="pick_up_time" style= "visibility:hidden;">
            
            <button type="submit" class="btn btn-accent form-btn w-100 mt-3 mb-3">Confirm and Pay Now</button>
        </form>
    </div>
  </div>
</div>

    <button class="clear-cart btn btn-danger">Clear Cart</button></div>
<script>

// ****************
// Shopping Cart API
// ****************

function changeOrderType() {
    OrderType = document.getElementById('order_type').value;
    if (OrderType === "PICK_UP"){
        document.getElementById("pick_up_time").style.visibility = "visible";
    }else if (OrderType === "HOME_DELIVERY"){
        document.getElementById("pick_up_time").style.visibility = "hidden";
        document.getElementById("pick_up_time").value = null;
    }
}


var shoppingCart = (function() {
  cart = [];

  function Item(name, price, count,proid) {
    this.name = name;
    this.price = price;
    this.count = count;
    this.proid = proid;
  }

  // Save cart
  function saveCart() {
    sessionStorage.setItem('shoppingCart', JSON.stringify(cart));
  }

    // Load cart
  function loadCart() {
    cart = JSON.parse(sessionStorage.getItem('shoppingCart'));
  }
  if (sessionStorage.getItem("shoppingCart") != null) {
    loadCart();
  }


  var obj = {};

  // Add to cart
  obj.addItemToCart = function(name, price, count,proid) {
    for(var item in cart) {
      if(cart[item].name === name) {
        cart[item].count ++;
        saveCart();
        return;
      }
    }
    var item = new Item(name, price, count,proid);
    cart.push(item);
    saveCart();
  }
  // Set count from item
  obj.setCountForItem = function(name, count) {
    for(var i in cart) {
      if (cart[i].name === name) {
        cart[i].count = count;
        break;
      }
    }
  };
  // Remove item from cart
  obj.removeItemFromCart = function(name) {
      for(var item in cart) {
        if(cart[item].name === name) {
          cart[item].count --;
          if(cart[item].count === 0) {
            cart.splice(item, 1);
          }
          break;
        }
    }
    saveCart();
  }

  // Remove all items from cart
  obj.removeItemFromCartAll = function(name) {
    for(var item in cart) {
      if(cart[item].name === name) {
        cart.splice(item, 1);
        break;
      }
    }
    saveCart();
  }

  // Clear cart
  obj.clearCart = function() {
    cart = [];
    saveCart();
  }

  // Count cart
  obj.totalCount = function() {
    var totalCount = 0;
    for(var item in cart) {
      totalCount += cart[item].count;
    }
    return totalCount;
  }

  // Total cart
  obj.totalCart = function() {
    var totalCart = 0;
    for(var item in cart) {
      totalCart += cart[item].price * cart[item].count;
    }
    return Number(totalCart.toFixed(2));
  }

  // List cart
  obj.listCart = function() {
    var cartCopy = [];
    for(i in cart) {
      item = cart[i];
      itemCopy = {};
      for(p in item) {
        itemCopy[p] = item[p];

      }
      itemCopy.total = Number(item.price * item.count).toFixed(2);
      cartCopy.push(itemCopy)
    }
    return cartCopy;
  }


  return obj;
})();


// Add item
$('.add-to-cart').click(function(event) {
  event.preventDefault();
  var name = $(this).data('name');
  var price = Number($(this).data('price'));
  var proid = Number($(this).data('proid'));
  shoppingCart.addItemToCart(name, price, 1,proid);
  displayCart();
});

// Clear items
$('.clear-cart').click(function() {
  shoppingCart.clearCart();
  displayCart();
});


function displayCart() {
  var cartArray = shoppingCart.listCart();
  var output = "";
  for(var i in cartArray) {
    output += "<tr>"
      + "<td>" + cartArray[i].name + "</td>"
      + "<td>(" + cartArray[i].price + ")</td>"
      + "<td><div class='input-group'><button class='minus-item input-group-addon btn btn-primary' data-store-proid="+ cartArray[i].proid +" data-name=" + cartArray[i].name + ">-</button>"
      + "<input type='number' class='item-count form-control' data-name='" + cartArray[i].name + "' value='" + cartArray[i].count + "'>"
      + "<button class='plus-item btn btn-primary input-group-addon' data-name=" + cartArray[i].name + ">+</button></div></td>"
      + "<td><button class='delete-item btn btn-danger' data-name=" + cartArray[i].name + ">X</button></td>"
      + " = "
      + "<td>" + cartArray[i].total + "</td>"
      +  "</tr>";
  }
  $('.show-cart').html(output);
  $('.total-cart').html(shoppingCart.totalCart());
  $('.total-count').html(shoppingCart.totalCount());

  document.getElementById('ol').innerHTML = JSON.stringify(shoppingCart.listCart());
  document.getElementById('tt').innerHTML = shoppingCart.totalCart().toString();
  document.getElementById('product_list').value = JSON.stringify(shoppingCart.listCart());
  document.getElementById('total').value = shoppingCart.totalCart().toString();
}

// Delete item button

$('.show-cart').on("click", ".delete-item", function(event) {
  var name = $(this).data('name')
  shoppingCart.removeItemFromCartAll(name);
  displayCart();
})


// -1
$('.show-cart').on("click", ".minus-item", function(event) {
  var name = $(this).data('name')
  shoppingCart.removeItemFromCart(name);
  displayCart();
})
// +1
$('.show-cart').on("click", ".plus-item", function(event) {
  var name = $(this).data('name')
  shoppingCart.addItemToCart(name);
  displayCart();
})

// Item count input
$('.show-cart').on("change", ".item-count", function(event) {
   var name = $(this).data('name');
   var count = Number($(this).val());
  shoppingCart.setCountForItem(name, count);
  displayCart();
});

displayCart();

</script>

{% endblock %}