<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Search</title>
</head>
{% block content %}
<body>


{% for product in product_data %}


    <tr>
        <th>{{ product.product_name }}</th>
        <th>{{ product.shopname }}</th>
        <th>{{ product.price }}</th>



{#        <th>#}
{#            <form method="get" action="{% url 'sellerlandingpage' %}" class="col-md-5 offset-md-1">#}
{#            <div class="form-group">#}
{#              <input type="hidden" name="seller_name" value={{ seller.username }}>#}
{#            </div>#}
{#            <button type="submit" class="btn btn-accent form-btn w-100 mt-3 mb-3">GET</button>#}
{#            </form>#}
{#        </th>#}
    </tr>

{% endfor %}



</body>
{% endblock %}
</html>
