<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
</head>
{% block content %}
<body>
Welcome to Customer dashboard

 <h4>hi, {{ user.username }}. Hope you are having a good day</h4>
 <h4>First_Name : {{ user.first_name }}</h4>
 <h4>Last_Name : {{ user.last_name }}</h4>
 <h4>Phone : {{ customer_data.phone}}</h4>
 <h4>Email : {{ customer_data.email }}</h4>

{% for seller in near_by_sellers %}
 <h4>seller.username</h4>
 <h4>seller.shopname</h4>
    <br>
{% endfor %}
<a href="{% url 'custLogout' %}">Logout</a>

<br>
<a href="{% url 'addAddress' %}">Add Address</a>

{% if messages %}
             <ul class="messages">
                 {% for message in messages %}
                     <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                 {% endfor %}
             </ul>
{% endif %}
</body>
</html>
{% endblock %}
