<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
</head>
{% block content %}
<body>
Welcome to Customer dashboard

 <h4>hi, {{ user.username }}. Hope you are having a good day</h4>
 <h4>First_Name : {{ user.first_name }}</h4>
 <h4>Last_Name : {{ user.last_name }}</h4>
 <h4>Phone : {{ customer_data.phone}}</h4>
 <h4>Email : {{ customer_data.email }}</h4>


<form method="post" action="{% url 'custDashboard' %}" class="col-md-5 offset-md-1">
      {% csrf_token %}
        <div class="form-group">
          <input name="km_range" class="form-control" placeholder="Km Range">
        </div>
        <button type="submit" class="btn btn-accent form-btn w-100 mt-3 mb-3">GET</button>
</form>

<table border="1" style="padding: 3px;text-align: center" >
{% for seller in near_by_sellers %}
    <tr>
    <th>Username</th>
    <th>Shopname</th>
    <th>Shop link</th>
    </tr>

    <tr>
    <th>{{ seller.username }}</th>
    <th>{{ seller.shopname }}</th>
    <th><form method="get" action="{% url 'sellerlandingpage' %}" class="col-md-5 offset-md-1">
      {% csrf_token %}
        <div class="form-group">
          <input type="hidden" name="seller_name" value={{ seller.username }}>
        </div>
        <button type="submit" class="btn btn-accent form-btn w-100 mt-3 mb-3">GET</button>
</form></th>
    </tr>

{% endfor %}
</table>
<a href="{% url 'custLogout' %}">Logout</a>

<br>
<a href="{% url 'addAddress' %}">Add Address</a>

{% if messages %}
             <ul class="messages">
                 {% for message in messages %}
                     <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                 {% endfor %}
             </ul>
{% endif %}
</body>
</html>
{% endblock %}
