{% extends "customer/base.html" %}
{% block content %}

<form method="post" action="{% url 'searchProductNearBY' %}" class="col-md-5 offset-md-1">
      {% csrf_token %}
        <div class="form-group">
          <input name="km_range" class="form-control" placeholder="Km Range">
        </div>
        </div>
        <div class="form-group">
          <input name="key_word" class="form-control" placeholder="Search Here">
        </div>
        <button type="submit" class="btn btn-accent form-btn w-100 mt-3 mb-3">GET</button>
</form>

{% for product in product_data %}


    <tr>
        <th>{{ product.product_name }}</th>
        <th>{{ product.shopname }}</th>
        <th>{{ product.price }}</th>
{#        <th>#}
{#            <form method="get" action="{% url 'sellerlandingpage' %}" class="col-md-5 offset-md-1">#}
{#            <div class="form-group">#}
{#              <input type="hidden" name="seller_name" value={{ seller.username }}>#}
{#            </div>#}
{#            <button type="submit" class="btn btn-accent form-btn w-100 mt-3 mb-3">GET</button>#}
{#            </form>#}
{#        </th>#}
    </tr>

{% endfor %}


{% endblock %}
