<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
{% extends "customer/base.html" %}
{% block content %}


<section class="section_gap shops-height">
		<div class="container-fluid h-100">
			<div class="banner-box m-auto">
            <h3 class="cate-header">Near by shops</h3>
                {% for seller in near_by_sellers %}
                <form method="get" class="row" style="margin: 2rem 0" action="{% url 'sellerlandingpage' %}">
                    <div class="col-xl-3 justify-content-sm-around d-flex">
                        <button type="submit" class="shop-box">
                            <input type="hidden" name="seller_name" value={{ seller.username }}>
                            <div class="shop-image" style="background: rgba(4, 135, 130, 0.3) url('{{ seller.shop_image.url }}') center; background-size: cover"></div>
                            <div class="shopname-box">
                                <p class="shopname">{{ seller.shopname }}</p>
                                <p class="shopcategory">{{ seller.categories_list }}</p>
                            </div>
                        </button>
                    </div>
                </form>
                {% endfor %}
			</div>
		</div>
	</section>
    <!-- End Shops -->


{% endblock %}
</body>
</html>
