{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seller Page</title>
     <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

</head>
<body >

<script src="{% static "js/cart.js" %}"></script>
<table border="1" style="padding: 3px;text-align: center" >
<tr>
    <th>Product name </th>
    <th>Product price</th>
</tr>
{% for product in products %}
    <div>


            <tr class="item">
                <td>{{ product.product_name }}</td>
                <td>{{ product.price }}</td>
                <td><button onclick="addProduct()">Plus</button></td>
                <td><span id="currentquantity">1</span>&nbsp;  {{ product.price }}</td>
                <td><button onclick="removeone()">Minus</button></td>
                <td><button onclick="removeProduct('{{ product.product_name }}')">Remove</button></td>

                <input type="hidden" id="quantityfield" name="quantity" data-price={{ product.price }} value="1" />
            </tr>

            <p id="print"></p>
    </div>
{% endfor %}
</table>
<br>
<a href="{% url 'cart' %}">Cart</a>



</body>
</html>
{% endblock %}
