{% extends "customer/base.html" %}
{% block content %}
    <style>
    .star-rating {
       margin: 25px 0 0px;
      font-size: 0;
      white-space: nowrap;
      display: inline-block;
      width: 175px;
      height: 35px;
      overflow: hidden;
      position: relative;
      background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
      background-size: contain;
    }
    .star-rating i {
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 20%;
      z-index: 1;
      background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
      background-size: contain;
    }
    .star-rating input {
      -moz-appearance: none;
      -webkit-appearance: none;
      opacity: 0;
      display: inline-block;
      width: 20%;
      height: 100%;
      margin: 0;
      padding: 0;
      z-index: 2;
      position: relative;
    }
    .star-rating input:hover + i,
    .star-rating input:checked + i {
      opacity: 1;
    }
    .star-rating i ~ i {
      width: 40%;
    }
    .star-rating i ~ i ~ i {
      width: 60%;
    }
    .star-rating i ~ i ~ i ~ i {
      width: 80%;
    }
    .star-rating i ~ i ~ i ~ i ~ i {
      width: 100%;
    }
    span.scale-rating>label {
      position:relative;
        -webkit-appearance: none;
      outline:0 !important;
        border: 1px solid grey;
        height:33px;
        margin: 0 5px 0 0;
      width: calc(10% - 7px);
        float: left;
      cursor:pointer;
    }
    span.scale-rating label {
          position:relative;
            -webkit-appearance: none;
          outline:0 !important;
            height:33px;

            margin: 0 5px 0 0;
          width: calc(10% - 7px);
            float: left;
          cursor:pointer;
        }
        span.scale-rating input[type=radio] {
          position:absolute;
            -webkit-appearance: none;
          opacity:0;
          outline:0 !important;
            /*border-right: 1px solid grey;*/
            height:33px;

            margin: 0 5px 0 0;

          width: 100%;
            float: left;
          cursor:pointer;
          z-index:3;
        }
        span.scale-rating label:hover{
        background:#fddf8d;
        }
        span.scale-rating input[type=radio]:last-child{
        border-right:0;
        }
        span.scale-rating label input[type=radio]:checked ~ label{
            -webkit-appearance: none;

            margin: 0;
          background:#fddf8d;
        }
        span.scale-rating label:before
        {
          content:attr(value);
            top: 7px;
            width: 100%;
            position: absolute;
            left: 0;
            right: 0;
            text-align: center;
            vertical-align: middle;
          z-index:2;
        }
    </style>

	<div class="main-container">
		<div id="topcon" class="container top-con">
			<div>
				<h1 class="shop-name">{{ seller_detail }}</h1>
				<p class="shop-categories">{% for ii in seller_cat %}
                    {{ ii }},
                {% endfor %}</p>
{#				<p class="shop-location">#}
{#                    {% for ll in loc %}#}
{#                        {{ ll }}#}
{#                    {% endfor %}#}
{#                </p>#}
            <p class="shop-location">
                Distance: {{ distance }}KM Away
            </p>

            <p>
                Review: {{ seller_detail.avarage_review }}/5.0
            </p>

            {% if allow_user_to_give_review %}
                <form method="post" action="{% url 'sellerlandingpage' %}">
                {% csrf_token %}
                       <input type="hidden" name="seller_id" value={{ seller_id }}>
                       <span class="star-rating">
                          <input type="radio" name="rating" value="1"><i></i>
                          <input type="radio" name="rating" value="2"><i></i>
                          <input type="radio" name="rating" value="3"><i></i>
                          <input type="radio" name="rating" value="4"><i></i>
                          <input type="radio" name="rating" value="5"><i></i>
                        </span>
                       <li class="product-edit-button-list">
                           <button type="submit">
                               submit
                           </button>
                       </li>
                </form>
            {% else %}
                <p></p>
            {% endif %}

			</div>
		</div>

		<div class="container">
			<div class="prod-container">
				<div class="categories-container">
					<h4 class="categories-text">Meals</h4>
				</div>
				<div class="product-container">
					<h2 class="product-title">Meals</h2>
                    {% for product in products %}
                        <div class="prod-cat-con">
                            <div class="product-image-box">
                                <img src="{{ product.product_image.url }}" alt="{{ product.product_name }}">
                            </div>
                            <div class="prod-details-con">
                                <h6 class="product-name">{{ product.product_name }}</h6>
                                <p class="product-price">₹{{ product.price }}</p>
                                <p onclick="discri()" class="product-description">{{ product.product_disc }}</p>
                            </div>
{#                            <button id="gett" onclick="gett('{{ product.product_name }}')">me</button>#}
                            <div class="addtocartbutton">

                                <button class="add-button" data-name="{{ product.product_name }}" data-price="{{ product.price }}" data-proimage="{{ product.product_image.url }}" data-proid="{{ product.id }}" data-shopname="{{ seller_detail }}">ADD <span> +</span></button>
                            </div>
                        </div>
                    {% endfor %}
				</div>

			</div>
		</div>
	</div>

    <script>
        function discri(){
            document.querySelector(".product-description").style.whiteSpace = 'normal';
        }
        function gett(val){
            cart = JSON.parse(localStorage.getItem('shoppingCart'));
            for(p in cart)
            {
             if(cart[p].name==val){
                 console.log(cart[p].count);
             }
            }
        }
    </script>
{% endblock %}
