{% extends "seller/base.html" %}
{% block content %}

<div id="retailerproducts" class="app-content">
          <div class="app-content-header">
            <h1 class="app-content-headerText">
                <button onclick="sidebaropen()" class="wrapper-menu">
                  <div class="line-menu half start"></div>
                  <div class="line-menu"></div>
                  <div class="line-menu half end"></div>
                </button>
                Products</h1>
          </div>
          <div class="app-content-actions">
            <input id="productsearch" class="search-bar" onkeyup="filterFunction()" placeholder="Search..." type="text">
            <div class="app-content-actions-wrapper">
{#              <div class="filter-button-wrapper">#}
{#                <button class="action-button filter jsFilter"><span>Filter</span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-filter"><polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"/></svg></button>#}
{#                <div class="filter-menu">#}
{#                  <label>Category</label>#}
{#                  <select>#}
{#                      <option value="all">All Categories</option>#}
{#                    {% for category in allCategories %}#}
{#                        <option value="{{category.category_name}}">{{ category.category_name }}</option>#}
{#                    {% endfor %}#}
{#                  </select>#}
{#                  <label>Status</label>#}
{#                  <select>#}
{#                    <option>All Status</option>#}
{#                    <option>Active</option>#}
{#                    <option>Disabled</option>#}
{#                  </select>#}
{#                  <div class="filter-menu-buttons">#}
{#                    <button class="filter-button reset">#}
{#                      Reset#}
{#                    </button>#}
{#                    <button class="filter-button apply">#}
{#                      Apply#}
{#                    </button>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
              <a href="{% url 'addproduct' %}" onclick="addproducts()" class="app-content-headerButton">Add new  product</a>
            </div>

          </div>
          <div class="products-area-wrapper tableView">
            <div id="productshowtitle" class="products-header products-arrange list-container-main">
              <div class="products-cell">Product</div>
              <div class="products-cell">Category</div>
              <div class="products-cell">Price</div>
              <div class="products-cell">Status</div>
              <div class="products-cell">Edit</div>
            </div>

            <div id="productshow" class="list-container-main">
                {% for pro in products %}

                    <a>
                        <div class="products-row products-arrange">

                <div class="products-cell image">
                  <img src="{{ pro.product_image.url }}" width="50" height="50" alt="product">
                  <p class="product-name">{{ pro.product_name }}</p>
                </div>
              <div class="products-cell category"><span class="cell-label">Category:</span>{{ pro.product_category }}</div>
              <div class="products-cell price"><span class="cell-label">Price:</span>₹{{ pro.price }}</div>
              <div class="products-cell status-cell">
                <div class="status-circle" style="background-color: {% if pro.is_featured == True %}rgba(4, 135, 130, 0.8 ){% else %}#ff5c5c{% endif %} "></div>
                  <p>{% if pro.is_featured == True %}Visible{% else %}Hidden{% endif %}</p>
              </div>
              <div class="edit-button">
                <ul class="product-edit-button">
                   <form method="get" action="{% url 'editProducts' %}">
                       <input type="hidden" name="product_id" value={{ pro.id }}>
                       <li class="product-edit-button-list edit">
                           <button type="submit">
                               <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit">
                                  <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"/>
                                  <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"/>
                                </svg>
                           </button>
                       </li>
                  </form>
                  <form method="POST" action="{% url 'editProducts' %}" >
                         {% csrf_token %}
                       <input type="hidden" name="product_id" value={{ pro.id }}>
                       <input type="hidden" name="delete_product" value="True">
                       <li class="product-edit-button-list delete">
                            <button type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg"  width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash">
                                  <polyline points="3 6 5 6 21 6"/><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"/>
                                </svg>
                            </button>
                        </li>
                  </form>

                </ul>
              </div>

            </div>
                    </a>

            {% endfor %}
            </div>
          </div>
        </div>

    <script>
        document.querySelector(".jsFilter").addEventListener("click", function () {
          document.querySelector(".filter-menu").classList.toggle("active");
        });
    </script>
    <script>
        function filterFunction() {
          var input, filter, p,a, i;
          input = document.getElementById("productsearch");
          filter = input.value.toUpperCase();
          div = document.getElementById("productshow");
          p = div.getElementsByTagName("p");
          a = div.getElementsByTagName("a");

          for (i = 0; i < p.length; i++) {
            txtValue = p[i].textContent || p[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              a[i].style.display = "";
            } else {
              a[i].style.display = "none";
            }
          }
        }
    </script>
    <script>
        var isSyncingLeftScroll = false;
        var isSyncingRightScroll = false;
        var leftDiv = document.getElementById('productshow');
        var rightDiv = document.getElementById('productshowtitle');

        leftDiv.onscroll = function() {
          if (!isSyncingLeftScroll) {
            isSyncingRightScroll = true;
            rightDiv.scrollLeft = this.scrollLeft;
          }
          isSyncingLeftScroll = false;
        }

        rightDiv.onscroll = function() {
          if (!isSyncingRightScroll) {
            isSyncingLeftScroll = true;
            leftDiv.scrollLeft = this.scrollLeft;
          }
          isSyncingRightScroll = false;
        }
    </script>

{% endblock %}