
{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'sellers/css/seller_login.css' %}">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="https://maps.googleapis.com/maps/api/js"></script>

</head>
<body>
{% if messages %}
        {% for message in messages %}
        <div class="warning-pop-up">
            <p id="warning" {% if message.tags %} class=" {{ message.tags }} " {% endif %}>{{ message }}</p>
        </div>
        {% endfor %}
    {% endif %}
<div class="container" id="container">
        <div class="form-container sign-up-container">
            <form name="selregister" method="post" action="{% url 'sellerRegister' %}" onsubmit="return validateForm()">
                {% csrf_token %}
                <h1 class="reg-title">Create Account</h1>
                <div class="input-devide">
                    <input name="shopname" placeholder="Enter shop name">
                    <input name="username" placeholder="Username">
                    <input type="hidden" name="first_name" placeholder="FirstName">
                    <input type="hidden" name="last_name" placeholder="LastName">
                </div>
                <input name="email" type="email" placeholder="Email Address">
                <input name="phone" placeholder="Phone no.">
                <input name="password" type="password" placeholder="Password">
                <input name="confirm_password" type="password" placeholder="Confirm Password">
                <button type="submit">Sign Up</button>
                <div>
                    <p>Already have an account? <a href="{% url 'sellerLogin' %}">Sign in</a></p>
                </div>
                <input type="hidden" name="latiLong" id="latiLong" />
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div style="height: 100%" id="map_canvas"></div>
                 <div id="coordinates"></div>
            </div>
        </div>
    </div>

<script>
         function validateForm() {
             var username = document.forms["selregister"]["username"];
             var password = document.forms["selregister"]["password"];
             var shopname = document.forms["selregister"]["shopname"];
             var email = document.forms["selregister"]["email"];
             var phone = document.forms["selregister"]["phone"];
             var confirm_password = document.forms["selregister"]["confirm_password"];
             var latiLong = document.forms["selregister"]["latiLong"];
             if (shopname.value == null || shopname.value === "") {
                 shopname.classList.add("input-validation");
                 shopname.style.border = "1px solid red";
                 shopname.placeholder = 'Please enter valid shop name!';
                 setTimeout(function(){
                    shopname.classList.remove("input-validation");
                    shopname.style.border = "1px solid rgba(0,0,0,0.2)";
                    shopname.placeholder = 'first_name';
                 }, 3000);
                 return false;
             }
             if (username.value == null || username.value === "") {
                 username.classList.add("input-validation");
                 username.style.border = "1px solid red";
                 username.placeholder = 'Please enter valid username!';
                 setTimeout(function(){
                    username.classList.remove("input-validation");
                    username.style.border = "1px solid rgba(0,0,0,0.2)";
                    username.placeholder = 'Username';
                 }, 3000);
                 return false;

             }
             if (email.value == null || email.value === "") {
                 email.classList.add("input-validation");
                 email.style.border = "1px solid red";
                 email.placeholder = 'Please enter valid email address!';
                 setTimeout(function(){
                    email.classList.remove("input-validation");
                    email.style.border = "1px solid rgba(0,0,0,0.2)";
                    email.placeholder = 'email';
                 }, 3000);
                 return false;
             }
             if (phone.value == null || phone.value === "") {
                 phone.classList.add("input-validation");
                 phone.style.border = "1px solid red";
                 phone.placeholder = 'Please enter valid phone number!';
                 setTimeout(function(){
                    phone.classList.remove("input-validation");
                    phone.style.border = "1px solid rgba(0,0,0,0.2)";
                    phone.placeholder = 'phone';
                 }, 3000);
                 return false;
             }
             if (password.value == null || password.value === "") {
                 password.classList.add("input-validation");
                 password.style.border = "1px solid red";
                 password.placeholder = 'Please enter valid password!';
                 setTimeout(function(){
                    password.classList.remove("input-validation");
                    password.style.border = "1px solid rgba(0,0,0,0.2)";
                    password.placeholder = 'Password';
                 }, 3000);
                 return false;
             }
             if (confirm_password.value == null || confirm_password.value === "") {
                 confirm_password.classList.add("input-validation");
                 confirm_password.style.border = "1px solid red";
                 confirm_password.placeholder = 'Please enter valid confirm password!';
                 setTimeout(function(){
                    confirm_password.classList.remove("input-validation");
                    confirm_password.style.border = "1px solid rgba(0,0,0,0.2)";
                    confirm_password.placeholder = 'confirm_password';
                 }, 3000);
                 return false;
             }
         }
    </script>
    <script>
        const war = document.querySelector('.warning-pop-up');
               setInterval(function () {
                   war.style.visibility = 'visible';
                   war.style.opacity = '1';
                   war.style.transform = 'translateY(1rem)';
                   setTimeout(function () {
                       war.remove();
                   }, 3000)
               }, 10);

    </script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwvCP9pQ19x79rk3DpreTV6AypI_tKtqw&callback=initMap&v=weekly"
      async
    ></script>
<script>
    function initialize() {
                 var crosshairShape = {
                     coords: [0, 0, 0, 0],
                     type: 'rect'
                 };
                 var latlng = new google.maps.LatLng(22.62279178711505, 73.895538330078125);
                 var myOptions = {
                     zoom: 12,
                     center: latlng,
                     {#mapTypeId: google.maps.MapTypeId.SATELLITE,#}
                     mapTypeControlOptions: {
                         style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
                     }
                 };
                 var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
                 var marker = new google.maps.Marker({
                     map: map,
                 });
                 document.getElementById('coordinates').innerHTML = "<b>center coordinates</b>: " + map.getCenter().toUrlValue(6)
                 google.maps.event.addListener(map, 'center_changed', function () {
                     document.getElementById('coordinates').innerHTML = "<b>center coordinates</b>: " + map.getCenter().toUrlValue(6);
                     document.getElementById('latiLong').value = map.getCenter().toUrlValue(6);
                 });
                 marker.bindTo('position', map, 'center');
             }

             google.maps.event.addDomListener(window, 'load', initialize);

</script>



</body>
</html>
