
{% extends "seller/base.html" %}
{% block content %}
    {% load static %}

    <div id="retailerdashboard" class="app-main">
      <div class="main-header-line">
        <h1>
            <button onclick="sidebaropen()" class="wrapper-menu">
              <div class="line-menu half start"></div>
              <div class="line-menu"></div>
              <div class="line-menu half end"></div>
            </button>
            Dashboard</h1>
      </div>
      <div class="chart-row three">
        <div class="chart-container-wrapper">
          <div class="chart-container">
            <div class="chart-info-wrapper">
              <h2>Orders</h2>
              <span>{{ total_orders_30 | first }}</span>
            </div>
            <div class="chart-svg">
              <svg viewBox="0 0 36 36" class="circular-chart pink">
        <path class="circle-bg" d="M18 2.0845
            a 15.9155 15.9155 0 0 1 0 31.831
            a 15.9155 15.9155 0 0 1 0 -31.831"></path>
        <path class="circle" stroke-dasharray="{{ today_orderper }}, 100" d="M18 2.0845
            a 15.9155 15.9155 0 0 1 0 31.831
            a 15.9155 15.9155 0 0 1 0 -31.831"></path>
        <text x="18" y="20.35" class="percentage">{{ today_orderper }}%</text>
      </svg>
            </div>
          </div>
        </div>
        <div class="chart-container-wrapper">
          <div class="chart-container">
            <div class="chart-info-wrapper">
              <h2>Store Views</h2>
              <span>5.5 K</span>
            </div>
            <div class="chart-svg">
              <svg viewBox="0 0 36 36" class="circular-chart blue">
        <path class="circle-bg" d="M18 2.0845
            a 15.9155 15.9155 0 0 1 0 31.831
            a 15.9155 15.9155 0 0 1 0 -31.831"></path>
        <path class="circle" stroke-dasharray="60, 100" d="M18 2.0845
            a 15.9155 15.9155 0 0 1 0 31.831
            a 15.9155 15.9155 0 0 1 0 -31.831"></path>
        <text x="18" y="20.35" class="percentage">60%</text>
      </svg>
            </div>
          </div>
        </div>

        <div class="chart-container-wrapper">
          <div class="chart-container">
            <div class="chart-info-wrapper">
              <h2>Total Sales</h2>
              <span>10.5 K</span>
            </div>
             <div class="chart-svg">
              <svg viewBox="0 0 36 36" class="circular-chart orange">
        <path class="circle-bg" d="M18 2.0845
            a 15.9155 15.9155 0 0 1 0 31.831
            a 15.9155 15.9155 0 0 1 0 -31.831"></path>
        <path class="circle" stroke-dasharray="90, 100" d="M18 2.0845
            a 15.9155 15.9155 0 0 1 0 31.831
            a 15.9155 15.9155 0 0 1 0 -31.831"></path>
        <text x="18" y="20.35" class="percentage">90%</text>
      </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="chart-row two">
        <div class="chart-container-wrapper big">
          <div class="chart-container">
            <div class="chart-container-header">
              <h2>Total Orders</h2>
              <span>Last 30 days</span>
            </div>
            <div class="line-chart">
                  <div class="box">
                      <div id="bar"> </div>
                  </div>
            </div>
            <div class="chart-data-details">
              <div class="chart-details-header"></div>
            </div>
          </div>
        </div>
        <div class="chart-container-wrapper small">
          <div class="chart-container">
            <div class="chart-container-header">
              <h2>Orders Status</h2>
              <span>Today</span>
            </div>

            <div class="progress-bar-info">
              <span class="progress-color applications"></span>
              <span class="progress-type">New orders</span>
              <span class="progress-amount">{{ order_status_dic.PENDING }}</span>
            </div>
            <div class="progress-bar-info">
              <span class="progress-color shortlisted"></span>
              <span class="progress-type">Accepted</span>
              <span class="progress-amount">{{ order_status_dic.ACCEPTED }}</span>
            </div>
            <div class="progress-bar-info">
              <span class="progress-color on-hold"></span>
              <span class="progress-type">Complete</span>
              <span class="progress-amount">{{ order_status_dic.COMPLETE }}</span>
            </div>
            <div class="progress-bar-info">
              <span class="progress-color rejected"></span>
              <span class="progress-type">Rejected</span>
              <span class="progress-amount">{{ order_status_dic.REJECTED }}</span>
            </div>
          </div>
          <div class="chart-container applicants">
            <div class="chart-container-header">
              <h2>New Orders</h2>
              <span>Today</span>
            </div>
              {% for order in new_orders %}
                <div class="applicant-line">

              <div class="applicant-info">
                <span>{{ order.id }}</span>
                <p>From {{ order.customer_name }}</p>
              </div>
              <form method="POST" action="{% url 'rejectOrder' %}">
                  {% csrf_token %}
                  <input name="order_id" type="hidden" value={{ order.id }}>
                  <button type="submit" class="das-reject-order">
                    Reject
                  </button>
              </form>
              <form method="POST" action="{% url 'acceptOrder' %}">
                  {% csrf_token %}
                  <input name="order_id" type="hidden" value={{ order.id }}>
                  <button type="submit" class="das-accept-order">
                    Accept
                  </button>
              </form>

            </div>
              {% endfor %}

          </div>
        </div>
      </div>
    </div>


{% endblock %}
